PORT=3000
DATA_FILE=data/taxi-booking.json
TENANT_SLUG=cityride
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SESSION_SECRET=replace-this-before-deployment
BUSINESS_NAME=Sakshi Cabs
BUSINESS_PHONE=+91 97222 64700
AVAILABILITY_GAP_HOURS=6
